@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --body-font-color: #2C4058;
  --body-font-size: 18px;
  --title-font-size: 2.44rem;
  --subtitle-font-size: 1.22rem;
}

:root {
  --body-font-color: #2C4058;
  --body-font-size: 18px;
  --title-font-size: 2.44rem;
  --subtitle-font-size: 1.22rem;
}

.header__swiper {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  margin-bottom: 170px;
}

.swiper-slide .slide__text {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 98px;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  color: #fff;
}
.swiper-slide .slide__text .title {
  font-size: var(--title-font-size);
}
.swiper-slide .slide__text .subtitle {
  margin-top: 80px;
  line-height: 22px;
}
.swiper-slide::after {
  content: " ";
  background: -o-linear-gradient(206.57deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  position: absolute;
}
.swiper-slide.green::after {
  background: -o-linear-gradient(206.57deg, #0d7a16 16.9%, #04ab44 100%);
  background: linear-gradient(243.43deg, #0d7a16 16.9%, #04ab44 100%);
}
.swiper-slide.red::after {
  background: -o-linear-gradient(206.57deg, #8f0f0d 16.9%, #df9b8c 100%);
  background: linear-gradient(243.43deg, #8f0f0d 16.9%, #df9b8c 100%);
}
.swiper-slide.yellow::after {
  background: -o-linear-gradient(206.57deg, #eac808 16.9%, #f8a521 83.27%);
  background: linear-gradient(243.43deg, #eac808 16.9%, #f8a521 83.27%);
}
.swiper-slide.purple::after {
  background: -o-linear-gradient(206.57deg, #320221 16.9%, #d20ccf 83.27%);
  background: linear-gradient(243.43deg, #320221 16.9%, #d20ccf 83.27%);
}

.swiper-slide_picture {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  gap: 40px;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-font-color);
}

.header__nav {
  position: absolute;
  max-width: 1170px;
  width: 100%;
  top: 50px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  padding: 10px;
}
@media (max-width: 1070px) {
  .header__nav .nav__items {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .header__nav .nav__items {
    position: absolute;
    top: -150%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
.nav__items .nav____link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__items .nav____link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid #fff;
  width: 9px;
  height: 9px;
}
.nav__items .nav____link:hover {
  text-decoration: underline;
}
.nav__items .nav____link:hover::before {
  background: #fff;
}
.nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.nav__socials .svg {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: 1px solid #fff;
}
.nav__socials .svg:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  stroke: #0b75d8;
  border-color: #0b75d8;
}

.btn__scroll {
  position: absolute;
  bottom: 50px;
  right: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn__scroll:hover {
  background: rgba(255, 255, 255, 0.248);
  cursor: pointer;
}