@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --body-font-color: #2C4058;
  --body-font-size: 18px;
  --body-font-family: "Montserrat", sans-serif;
  --title-font-size: 2.44rem;
  --subtitle-font-size: 1.22rem;
  --cardtitle-font-size: 0.8rem;
}

:root {
  --body-font-color: #2C4058;
  --body-font-size: 18px;
  --body-font-family: "Montserrat", sans-serif;
  --title-font-size: 2.44rem;
  --subtitle-font-size: 1.22rem;
  --cardtitle-font-size: 0.8rem;
}

.swiper__news {
  z-index: 2;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  overflow-x: hidden;
}
.swiper__news .swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper__news .swiper-slide {
  width: 100%;
  height: 520px;
  background: #fff;
}
.swiper__news .card {
  max-height: 520px;
  max-width: 370px;
  padding: 20px;
}
.swiper__news .card__img {
  margin-bottom: 30px;
}
.swiper__news .card__img.img {
  max-height: 240px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper__news .card__info.title {
  font-family: var(--body-font-family);
  font-size: var(--cardtitle-font-size);
  font-weight: 700;
  margin-bottom: 15px;
}
.swiper__news .card__info.text {
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: var(--body-font-size);
}
.swiper__news .card__info.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.swiper__news .card__info.author .author__photo.photo {
  border-radius: 50%;
}
.swiper__news .card__info.author .author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}
:root {
  --body-font-color: #2C4058;
  --body-font-size: 18px;
  --body-font-family: "Montserrat", sans-serif;
  --title-font-size: 2.44rem;
  --subtitle-font-size: 1.22rem;
  --cardtitle-font-size: 0.8rem;
}

.header__swiper {
  position: relative;
}
.header__swiper .swiper-wrapper {
  max-height: 100vh;
  margin-bottom: 170px;
}
.header__swiper .swiper-slide .slide__text {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  color: #fff;
}
@media (max-width: 1070px) {
  .header__swiper .swiper-slide .slide__text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 60px;
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .header__swiper .swiper-slide .slide__text {
    max-width: 90%;
  }
}
.header__swiper .swiper-slide .slide__text .title {
  font-weight: 700;
  font-size: var(--title-font-size);
}
@media (max-width: 600px) {
  .header__swiper .swiper-slide .slide__text .title {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  .header__swiper .swiper-slide .slide__text .title {
    font-size: 1.3rem;
    line-height: 30px;
  }
}
.header__swiper .swiper-slide .slide__text .subtitle {
  margin-top: 80px;
  line-height: 22px;
}
@media (max-width: 1070px) {
  .header__swiper .swiper-slide .slide__text .subtitle {
    margin-top: 100px;
  }
}
.header__swiper .swiper-slide::after {
  content: " ";
  background: -o-linear-gradient(206.57deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  position: absolute;
}
.header__swiper .swiper-slide.green::after {
  background: -o-linear-gradient(206.57deg, #0d7a16 16.9%, #04ab44 100%);
  background: linear-gradient(243.43deg, #0d7a16 16.9%, #04ab44 100%);
}
.header__swiper .swiper-slide.red::after {
  background: -o-linear-gradient(206.57deg, #8f0f0d 16.9%, #df9b8c 100%);
  background: linear-gradient(243.43deg, #8f0f0d 16.9%, #df9b8c 100%);
}
.header__swiper .swiper-slide.yellow::after {
  background: -o-linear-gradient(206.57deg, #eac808 16.9%, #f8a521 83.27%);
  background: linear-gradient(243.43deg, #eac808 16.9%, #f8a521 83.27%);
}
.header__swiper .swiper-slide.purple::after {
  background: -o-linear-gradient(206.57deg, #320221 16.9%, #d20ccf 83.27%);
  background: linear-gradient(243.43deg, #320221 16.9%, #d20ccf 83.27%);
}
.header__swiper .swiper-slide_picture {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header__swiper .swiper-pagination__header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  gap: 40px;
}
.header__swiper .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 0;
}
.header__swiper .swiper-pagination-bullet:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3019607843);
}
.header__swiper .swiper-pagination-bullet-active {
  background: #fff;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(20%) translateY(15%);
            transform: translateX(20%) translateY(15%);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(20%) translateY(15%);
            transform: translateX(20%) translateY(15%);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(20%) translateY(15%);
            transform: translateX(20%) translateY(15%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(20%) translateY(15%);
            transform: translateX(20%) translateY(15%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes slide-right-reversed {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-20%) translateY(15%);
            transform: translateX(-20%) translateY(15%);
  }
}
@keyframes slide-right-reversed {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-20%) translateY(15%);
            transform: translateX(-20%) translateY(15%);
  }
}
@-webkit-keyframes slide-left-reversed {
  0% {
    -webkit-transform: translateX(-20%) translateY(15%);
            transform: translateX(-20%) translateY(15%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@keyframes slide-left-reversed {
  0% {
    -webkit-transform: translateX(-20%) translateY(15%);
            transform: translateX(-20%) translateY(15%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-font-color);
}

.header__nav {
  position: absolute;
  max-width: 1170px;
  width: 100%;
  top: 50px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  padding: 10px;
}
@media (max-width: 500px) {
  .header__nav {
    padding: 5px;
    margin-right: 30px;
  }
}
@media (max-width: 1070px) {
  .header__nav .nav__items {
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .header__nav .nav__items {
    position: absolute;
    top: -200vh;
  }
}

.main .products {
  overflow-x: hidden;
}
.main .products__title {
  position: relative;
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--subtitle-font-size);
  margin-bottom: 90px;
}
.main .products__title::after {
  content: "";
  background: var(--body-font-color);
  height: 1px;
  position: absolute;
  top: 0;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main .products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  gap: 18%;
  position: relative;
}
@media (max-width: 800px) {
  .main .products .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main .products .product_reversed {
  gap: 4%;
  position: relative;
}
.main .products .product_reversed .product__bg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: #7E5AFF;
  max-width: 585px;
  width: 50%;
  max-height: 470px;
}
@media (max-width: 800px) {
  .main .products .product_reversed .product__bg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.main .products .product_reversed .product__bg.img {
  max-width: 50%;
}
.main .products .product_reversed .product__bg.img:hover {
  cursor: pointer;
}
.main .products .product_reversed .product__bg.img__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 100%;
  max-height: 470px;
  z-index: 1;
}
.main .products .product_reversed .product__text_reversed {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main .products .product_reversed .text__btn_right {
  margin: 0 0 60px 10%;
  width: 160px;
}
.main .products .product_reversed .text__text_hidden-reversed {
  visibility: hidden;
  height: 0%;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  margin-top: 10px;
  margin-bottom: 40px;
}
.main .products .product__bg {
  width: 100%;
  background: #55B7FF;
  max-width: 585px;
  max-height: 470px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
@media (max-width: 800px) {
  .main .products .product__bg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.main .products .product__bg.img:hover {
  cursor: pointer;
}
.main .products .product__bg.img__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 630px;
  max-height: 470px;
  z-index: 1;
}
.main .products .product__text {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 80%;
}
.main .products .product__text .text__suptitle {
  font-family: var(--body-font-family);
  line-height: 26.82px;
  margin-bottom: 5px;
}
.main .products .product__text .text__title {
  font-size: var(--subtitle-font-size);
  font-weight: 700;
  margin-bottom: 20px;
}
.main .products .product__text .text__text {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
}
.main .products .product__text .text__text_hidden {
  visibility: hidden;
  height: 1px;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  margin-top: 10px;
  margin-bottom: 40px;
}
.main .products .product__text .text__btn_left {
  margin: 0 0 60px 10%;
  width: 160px;
}
.main .products .product__text .text__span {
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 0;
  left: 10%;
  font-size: 15px;
  margin-left: 25px;
  font-style: italic;
  line-height: 20px;
  color: #000;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.main .products .product__text .text__span::before {
  position: absolute;
  top: 75%;
  -webkit-transform: translateY(-75%);
      -ms-transform: translateY(-75%);
          transform: translateY(-75%);
  left: -15px;
  width: 15px;
  height: 15px;
  content: "";
  background: url("../source/img/main/icon.svg") center no-repeat;
}
.main .news {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto 70px auto;
  background-image: url("../source/img/main/news_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .news__title {
  position: relative;
  text-align: center;
  font-size: var(--subtitle-font-size);
  font-weight: 700;
  padding-top: 150px;
  padding-bottom: 90px;
  color: #fff;
}
.main .news__title::after {
  content: "";
  background: #fff;
  height: 1px;
  position: absolute;
  top: 100px;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger__mode {
  position: absolute;
  top: 70px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px 30px;
  background: rgba(211, 190, 190, 0.5019607843);
}
.burger__mode .nav__items {
  text-align: center;
}
.burger__mode .nav____link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.burger__mode .nav____link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  background: #980808;
  left: -50vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75%;
  height: 1px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.burger__mode .nav____link:hover {
  color: #000;
}
.burger__mode .nav____link:hover::before {
  left: 50%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .nav__logo {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .nav__logo.logo {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
.nav__items .nav____link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__items .nav____link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid #fff;
  width: 9px;
  height: 9px;
}
@media (max-width: 920px) {
  .nav__items .nav____link::before {
    width: 6px;
    height: 6px;
  }
}
.nav__items .nav____link:hover {
  text-decoration: underline;
}
.nav__items .nav____link:hover::before {
  background: #fff;
}
@media (max-width: 920px) {
  .nav__items .nav____link {
    font-size: 14px;
  }
}
.nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media (max-width: 430px) {
  .nav__socials {
    gap: 2px;
  }
}
.nav__socials .svg {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: 1px solid #fff;
}
@media (max-width: 500px) {
  .nav__socials .svg {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}
.nav__socials .svg:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  stroke: #0b75d8;
}
.nav__socials .svg.svg__burger {
  border: none;
  margin-left: 10px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 800px) {
  .nav__socials .svg.svg__burger {
    visibility: visible;
  }
}
@media (max-width: 500px) {
  .nav__socials .svg.svg__burger {
    margin: 0;
  }
}
.nav__socials .svg.svg__burger:hover {
  stroke: #0b75d8;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.btn__scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn__scroll:hover {
  background: rgba(255, 255, 255, 0.2470588235);
  cursor: pointer;
  -webkit-transform: translateX(-50%) scale(1.5);
      -ms-transform: translateX(-50%) scale(1.5);
          transform: translateX(-50%) scale(1.5);
}

.animate__left {
  -webkit-animation: slide-right 4s alternate;
          animation: slide-right 4s alternate;
}

.animate__right {
  -webkit-animation: slide-left 4s alternate;
          animation: slide-left 4s alternate;
}

.animate__left_reversed {
  -webkit-animation: slide-right-reversed 4s alternate;
          animation: slide-right-reversed 4s alternate;
}

.animate__right_reversed {
  -webkit-animation: slide-left-reversed 4s alternate;
          animation: slide-left-reversed 4s alternate;
}

.btn {
  max-width: 190px;
  max-height: 60px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.2470588235);
  font-family: var(--body-font-family);
  border: 1px var(--body-font-color) solid;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn:hover {
  background: #E5E5E5;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}