@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700);
@import url(https://fonts.googleapis.com/css?family=Cute+Font:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 28px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --body-font-color: #2C4058,
  --body-font-size: 18px,
  --title-font-size: 2.44rem,
  --subtitle-font-size: 1.22rem;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-font-color);
}

.header__nav {
  max-width: 1170px;
  margin: 0 auto;
  background: orange;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.nav__socials .svg {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: 1px solid #fff;
}
.nav__socials .svg:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  stroke: #0b75d8;
  border-color: #0b75d8;
}
.nav__socials .svg:last-of-type {
  width: 40px;
}