@keyframes slide-right {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(215px) translateY(60px);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(215px) translateY(60px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}