@keyframes slide-right {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(20%) translateY(15%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(20%) translateY(15%);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}