@mixin createLine {
    &::after {
        content: '';
        background: var(--body-font-color);
        height: 1px;
        position: absolute;
        top: -15px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}