@import 'reset', 'fonts', 'vars', 'slider__footer', 'slider__header';

body {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
}

.header {
    &__nav {
        position: absolute;
        max-width: 1170px;
        width: 100%;
        top: 50px;
        right: 50%;
        transform: translateX(50%);
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: clamp(0.313rem, -7.449rem + 16.17vw, 4.375rem);
        
        .nav____link {
            position: relative;
            color: #fff;
            text-transform: uppercase;
            transition: all 0.5s ease;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%);
                border-radius: 50%;
                border: 1px solid #fff;
                width: 9px;
                height: 9px;
                // transition: all 1.5 ease;
            }
            &:hover {
                text-decoration: underline;

                &::before {
                    background: #fff;
                }
            }
        }
    }

    &__socials {
        display: flex;
        gap: 10px;

        & .svg {
            width: 40px;
            height: 40px;
            transition: all 0.3s ease;
            border-radius: 50%;
            border: 1px solid #fff;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                stroke: #0b75d8;
                border-color: #0b75d8;
            }
        }
    }
}

